apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config
  namespace: exercise2
data:
  nginx.conf: |
    events {}
    http {
      server {
        listen 80;
        location / {
          autoindex on;
          root /usr/share/nginx/html;
        }
      }
    }

