apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker
  namespace: exercise2
spec:
  replicas: 1
  selector:
    matchLabels:
      app: worker
  template:
    metadata:
      labels:
        app: worker
    spec:
      containers:
        - name: worker
          image: jonatanvicente/workshop_1-worker:latest
          volumeMounts:
            - name: shared-data
              mountPath: /data
      volumes:
        - name: shared-data
          persistentVolumeClaim:
            claimName: shared-data

