replicaCount: 2

service:
  type: NodePort
  port: 8080
  nodePort: 30080  # optional

ingress:
  enabled: false

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 200m
    memory: 256Mi
